@keyframes shrink {
  from { transform: scale(2); }
  to { transform: scale(1); }
}

.board{
    margin: 40px;
}

.cell{

    
    border: .5px solid gray;
    height: 50px;
    width: 50px;
    margin: .5px;
    padding: 2px;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.row {
    display: flex;
    justify-content: center;
    
}

.active{
    padding: 0;
   border: 2px red solid;
}

.win .cell{
    background-color: lightgreen;
}

.ship{
    border-radius: .6rem;
    
}

.ship--destroyer{
    background-color: lightsteelblue !important;
}

.ship--submarine{
    background-color: lightgoldenrodyellow !important;
}

.ship--cruiser{
    background-color: lightgreen !important;
}

.ship--battleship{
    background-color: rgb(191, 148, 216) !important;
}

.ship--carrier{
    background-color: lightpink !important;
}

.animate{
    transform: scale(1.5);
  animation: shrink 1s forwards;
  border: none;
  border-radius: 50%;
  background-color:rgb(219, 214, 219);
}
