.board{
    margin: 40px;
}

.cell{

    
    border: .5px solid gray;
    height: 50px;
    width: 50px;
    margin: .5px;
    padding: 2px;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.row {
    display: flex;
}

.active .cell{
    background-color: lightpink;
}

.win .cell{
    background-color: lightgreen;
}

.ship--destroyer{
    background-color: lightsteelblue !important;
}

.ship--submarine{
    background-color: lightgoldenrodyellow !important;
}

.ship--cruiser{
    background-color: lightgreen !important;
}

.ship--battleship{
    background-color: rgb(191, 148, 216) !important;
}

.ship--carrier{
    background-color: lightpink !important;
}

